@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply rounded-2xl border border-slate-100 bg-white shadow-sm;
    }

    .stat-card {
        @apply rounded-2xl border border-slate-100 bg-white shadow-sm p-5;
    }
}
